<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Product Manager</title>
</head>
<body>
	<div align = "center">
		<h1> Product Manager</h1>
		<table border="1" cellpadding ="10">
			<thead>
				<tr>
					<th>Product ID</th>
					<th>Name</th>
					<th>Brand</th>
					<th>made in</th>
					<th>Price</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="product : ${li}">
					<td th:text="${product.id}">product id</td>
					<td th:text="${product.fname}">product name</td>
					<td th:text="${product.brand}">Brand</td>
					<td th:text="${product.madein}">made in</td>
					<td th:text="${product.price}">price</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>